In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Naman\Downloads\Spread of Data.csv")

In [4]:
df.head(10)

   Student  Overall Marks  Gender    Subject
0    Anish           9700    Male    English
1  Rishabh             83    Male    English
2     Ajay             78    Male    Physics
3  Abhinav             86    Male  Chemistry
4   Anurag             91    Male    English
5    Ajeet             15    Male    Physics
6    Varun             83    Male  Chemistry
7   Rajeev             64    Male  Chemistry
8   sanjay             66    Male  Chemistry
9    NISHA             58  Female    Physics

In [5]:
mean = df["Overall Marks"].mean()

In [6]:
print(mean)

164.24

In [7]:
mode = df["Overall Marks"].mode()

In [8]:
print(mode)

0    88
dtype: int64

In [16]:
median = df["Overall Marks"].median()

In [17]:
print(median)

77.0

In [9]:
max_data = df["Overall Marks"].max()

In [10]:
min_data = df["Overall Marks"].min()

In [11]:
range_data = max_data - min_data

In [12]:
print(range_data)

9700

In [13]:
Q1 = df["Overall Marks"].quantile(0.25)
Q3 = df["Overall Marks"].quantile(0.75)

In [14]:
IQR = Q3 - Q1

In [15]:
print(IQR)

30.0